# Credenciales para desarrollo local;

MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=cambia_esto_en_local
MONGO_DATABASE=franchise_db

# URI que usa Spring Boot
MONGODB_URI=mongodb://admin:cambia_esto_en_local@localhost:27017/franchise_db?authSource=admin
